@*
   For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="@Url.Content("~/css/StyleSheetFormatting.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/StyleSheet_common.css")">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>

    <style>
        .main {
            align-content: center;
            text-align: center;
        }

        .information {
            align-content: center;
            margin-top: 55px;
            text-align: center;
        }
    </style>

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Electric Vehicle</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("EVHomePage", "Home")">Home</a></li>
                    <li><a href="@Url.Action("MainPage", "Home")">Main Page</a></li>
                    <li><a href="@Url.Action("DetailPage", "Home")">Details</a></li>
                    <li><a href="@Url.Action("AboutUsPage", "Home")">About Us</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="information">
        <h1>Electric Vehicles in Washington State</h1>
        <p>
            Below is a graph of the population of electric vehicle makes in the state of Washington.
            Click on a regional bar to see more information about the electric cars popular in the area.
        </p>
    </div>

    <div class="main">
        <p style="max-width:1000px; margin: auto;"> </p>
        <canvas id="stackedbarchart" width="400" height="150"></canvas>
        <script>
            new Chart(document.getElementById("stackedbarchart"), {
                type: 'horizontalBar',
                data: {
                    labels: ["Olympic", "Northwest", "Northeast", "South Puget Sound", "Pacific Cascade", "Southeast"],
                    datasets: [
                        {
                            label: "Tesla",
                            backgroundColor: "#cd3700",
                            data: [9, 133, 17, 1003, 114, 24]
                        },
                        {
                            label: "Nissan",
                            backgroundColor: "#ff6103",
                            data: [12, 29, 4, 293, 29, 4]
                        },
                        {
                            label: "Chevrolet",
                            backgroundColor: "#ff9912",
                            data: [15, 56, 14, 496, 124, 34]
                        },
                        {
                            label: "Ford",
                            backgroundColor: "#ffd700",
                            data: [12, 97, 11, 573, 106, 19]
                        }, 
                        {
                            label: "Volvo",
                            backgroundColor: "#03a89e",
                            data: [14, 104, 16, 759, 64, 19]
                        }, 
                        {
                            label: "Toyota",
                            backgroundColor: "#00688b",
                            data: [10, 15, 4, 217, 57, 8]
                        },
                        {
                            label: "Kia",
                            backgroundColor: "#3d59ab",
                            data: [6, 52, 3, 399, 61, 8]
                        },
                        {
                            label: "Hyundai",
                            backgroundColor: "#4682b4",
                            data: [6, 70, 8, 352, 90, 12]
                        },
                        {
                            label: "Porsche",
                            backgroundColor: "#a32cc4",
                            data: [3, 27, 7, 306, 27, 12]
                        },

                    ]
                },
                options: {
                    scales: {
                        xAxes: [
                            {
                                stacked: true
                            }
                        ],
                        yAxes: [
                            {
                                stacked: true
                            }
                        ]
                    },
                    legend: {
                        display: true
                    }
                }
            });
        </script>
    </div>

    <!-- Footer -->
    <footer class="text-center">
        <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a><br><br>
    </footer>

</body>
</html>
